<h2>Taxonomies</h2>

<div class="container with-sidebar">
  <div class="card-table float-left">
    <div class="cards">
      {{#each taxonomy in model}}
        <div class="card" data-id="">
          {{taxonomy.name}}
        </div>
      {{/each}}
    </div>
    <div class="actions align-center">
      {{file-input action="upload"}}
    </div>
  </div>
  <div class="sidebar float-right">
  </div>
</div>

{{outlet}}
