<div class="container with-sidebar">
  <div class="card-table float-left">
    <div class="cards">
      {{#each taxonomy in model}}
        {{#list-item delete="delete" item=taxonomy}}
          {{taxonomy.name}}
        {{/list-item}}
      {{/each}}
    </div>
    <div class="actions align-center">
      {{file-input action="upload"}}
    </div>
  </div>
  <div class="sidebar float-right">
  </div>
</div>

{{outlet}}
