<h2>Taxonomies</h2>

<div class="card table-card">
  {{#each taxonomy in model}}
    <div data-id="">
      {{taxonomy.name}}
    </div>
  {{/each}}
</div>

<div class="button-bar">
  <input type='text' id='taxonomy_name' />
  <input type='file' id='taxonomy_file'/>
  <button {{action 'upload'}} >Upload Taxonomy</button>
</div>

{{outlet}}
