<div class="container with-sidebar">
  <div class="card-table float-left">
    <div class="cards">
      {{#each taxonomy in model}}
        {{#list-item item=taxonomy dependentRelationship="categories"}}
          {{taxonomy.name}}
        {{/list-item}}
      {{/each}}
    </div>
    <div class="actions align-center">
      {{input
        value=uploadName
        class='large-input'
        placeholder='Taxonomy name'
      }}
      {{file-input action="upload" text="Upload Taxonomy"}}
    </div>
  </div>
  <div class="sidebar float-right">
  </div>
</div>

{{outlet}}
